@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*, 
*:after,
*:before {
    text-decoration: none;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: auto;
    height: 100vh;
    font-size: 62.5%;
    list-style-type: none;
    background-color: black;
    color: #22333B;
  
}
   
.homeTitulo{
    font-size: 33px;
    font-family: 'Lato', sans-serif;
}

.homeTexto, 
a{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 0 0 5% 0;
}

.imagem{
    height: 80vh;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.destaqueTitulo{
    color: rgb(80, 19, 19);
}

.ferramentas{
    color: rgb(80, 19, 19);
}

.apresentacao{
    margin: auto 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #94a8b1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0px #00000059;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
}

.apresentacao__links__subtitulo{
    font-style: 'Lato', sans-serif;
    font-size: 15px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.icons{
    filter: brightness(0%) opacity(85%);
    width: 25px;
}

.links{
    margin: auto;
    color: #22333B;
    /* background-color: rgb(80, 19, 19); */
    display: flex;
    justify-content: center;
    gap: 2px;
    width: 250px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 2px solid rgb(80, 19, 19);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 0;
    transition: 0.5s;
}

.links:hover{
    background-color: rgb(80, 19, 19);
    color: white;
}

.rodape{
    margin-top: 30px;
    width: 100%;
    position: static;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(80, 19, 19);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
 

 .cabecalho{
    padding: 2% 0 5% 15%;
 }

 .cabecalho__menu__link{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(80, 19, 19);
 }

